@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


  :root{
    --primaryBackground:#0e1122;
    --secondaryBackground:#2f3030;
    --primaryColor:#e0a80d;
    --greyDark:#7d8792;
    --headingColor: #2d2e2e;
    --white:#fff;
    --black:#000;
    --sliver:#bac8d3;
    --primary:#06a055;
  }
  
  body{
    scroll-behavior: smooth;
  }
  .bg{
    background-color: #0e1122;
    
  }
  .primary{
    background-color: #06a055;
  }
  .setActiveSection{
    color:#06a055 !important;
  }
  .font-primary{
    font-family: poppins,sans-serif;
  }
  .font-secondary{
    font-family: syne,sans-serif;
  }
  .primary{
    color: #06a055;
  }
  .secondary{
    color:#061055;
  }
  .backgroundImage{
    background-image: url('./assets/bg.jpg');
  }